# Auto detect text files and perform LF normalization
*.html linguist-detectable=false
*.c linguist-detectable=false
*.js linguist-detectable=false
*.m linguist-detectable=true
*.c linguist-detectable=false